*{margin:0;
padding:0
font-size:1em;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width:1170px;
    padding:5px;
    margin:0 auto;
}

#main-menu{
  display:none;
    clear:both;
}

nav li{
    border-bottom:solid 1px #ccc;
    padding:0.5em;
    list-style-type: none;
    padding-left:1em;
}

h1{
  text-align:center;
    margin: 0.5em 0;
    font-size:3em;
}

.toggle-menu{
    border:0;
    background-color: #fff;
    float:left;
}

.toggle-menu span{
  display:block;
  background-color:#000;
  height:5px;
  width:3em;
  margin-bottom:5px;
}

#date-loc{
    float:right;
    width:80%;
    text-align:right;
    font-size:2em;
}

#slideshow img, #direction img{
    width:100%
}

#lineup, #news, aside{
    margin:1em 0;
}
    
#lineup li{
    display:inline-block;
    margin-left:0.5em;
}

aside{
    border:solid 2px #ccc;
    border-radius: 3px;
    padding:0.5em;
}




