*{               /* browser resets*/
    margin:0;
    padding:0;
}
body{
    background-color: lightgrey;
    text-align: center;
}


#wrapper{
    padding:1em;
    max-width:960px;
    margin: auto;
}
header{

    text-align:center;
    font-family: Georgia; 
    font-style: oblique;   
}
h3, h2{
    margin-bottom:1em;
    font-family: Georgia; 
    color:black;
    font-variant: small-caps;
}
p{
    margin-bottom:1em;
    
}
.Head{
    color: black;
}
.Menu{
    color: black;
    font-family: Georgia;

}
.About{
    text-align: center;
   padding-top: 22px;
   padding-bottom: 8px;
   padding-right:1px;
   margin-right: 25px;
   margin-bottom: 10px;
   font-family: Courier Lucida;
   font-variant: small-caps;


}
h1, h2{
    padding-left:2em; 
    color: black;
}
h4{
    text-align: center;

}
nav ul{
    padding:0;
}
nav li{  
    text-align: center;
    list-style-type: none;
    border-radius: 1px;
    
    display: inline-block;
}
nav ul li.border{ 
    
    border: 1px solid black;
    background-color: white; 
    border-radius: 45px;
    margin: 5px 5px;
    font-family: arial;
    font-size:18px;
 }
ul{
    padding-left:2em;
}
    nav{
        text-align: center;
        background-color: lightgrey;
        border: 1px solid black;

    }
nav a{
    text-decoration: none;
    display:block;
    padding:1em;
  }
  nav a.hover{
    background-color: black;
    color:white;
  }



#photo img{
      width:100%;
      padding-top: 0; 
      margin-top: 4px;
      border: 1px solid white;   

}
#Photo img{
    width:385px;
    height:385px;
     margin-top: 10px;
    border: 1px solid white;   
}


@media (min-width: 768px){
    

    .col-3{
        width:32%;
        float:left;
        margin-right:2%; 
        text-align: justify; 

       
    }
    #events{
        margin:0;
    }
h4{
    font-size:1em; 
    font-weight: normal;
}
div.ex1{
    width: 59%;
    float: right; 
    text-align: justify; 
    padding-top: 22px;
    
}
footer{
    text-align:center;
    margin-top:30em; 
} 
strong{
    font-family: Courier;
    color:black;

}



